.downloadLinkred
{
  /* position: absolute;
  top: 2px;
  left: 15px;
  width: 50px;
  */
    color: red;
}
.downloadLinkblue
{
  /* position: absolute;
  top: 2px;
  left: 15px;
  width: 50px;
  */
    color: blue;
}
.downloadLinkgreen
{
  /* position: absolute;
  top: 2px;
  left: 15px;
  width: 50px;
  */
    color: green;
}